.nav {
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tamna);
  position: fixed;
}

.lista {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 20%;
  height: 70%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  padding: 4px;
}

a {
  color: var(--bijela);
  font-size: 1rem;
  transition: 0.3s;
  text-decoration: none;
  font-family: "Oswald";
}

.link a {
  text-transform: uppercase;
  font-size: 0.85rem;
  position: relative;
}

/* zajednički isti stilovi */
.link a::before,
.link a::after {
  position: absolute;
  transition: 0.3s ease;
  content: "";
  height: 100%;
  width: 1.6px;
  background-color: var(--svijetla);
}
.link a::before {
  top: -50px;
  left: -7px;
}
.link a::after {
  right: -7px;
  top: -50px;
}

.link a:hover {
  color: var(--svijetla);
}
.link a:hover::after,
.link a:hover::before {
  top: 0px;
}

@media screen and (max-width: 450px) {
  .nav {
    position: relative;
  }
  .lista {
    width: 50%;
  }
  a {
    transition: none;
  }
  .link a {
    text-transform: uppercase;
    font-size: 0.85rem;
    position: relative;
  }

  /* zajednički isti stilovi */
  .link a::before,
  .link a::after {
    display: none;
  }
  .link a::before {
    display: none;
  }
  .link a::after {
    display: none;
  }

  .link a:hover {
    color: var(--svijetla);
  }
  .link a:hover::after,
  .link a:hover::before {
    display: none;
  }
}
